In [173]:
import pandas as pd
import numpy as np
import random
from datetime import date
import matplotlib.pyplot as plt
%matplotlib inline

Customer_ID fornmat - 9236-XXX -> This is only for this datset as orders are 597.

In [174]:
df = pd.read_excel('flipkart data/Customer data 1.xlsx', sheet_name='Orders', skiprows= 1 )
df.head()

,Due Date,Settlement Value \n= SUM(F:O),Unnamed: 2,Order ID,Order item ID,Sale Amount,Total Offer Amount,My Share,Customer Shipping Amount,Marketplace Fee (Rs.),...,Seller Dead Weight,Length*Breadth*Height,Volumetric Weight(In Kgs),Chargeable Weight Type,Chargeable Wt. Slab (In Kgs),Shipping Zone,Unnamed: 63,ID,Date,Amount
0,2020-07-27,-291.716,NaN,OD119141143816135000,11914114381613500,0,0,0,0,-12.78,...,0.20,8.000*6.000*8.000,0.077,NaN,NaN,National,NaN,FADB1A2100002323,2020-07-13T04:05:20+05:30,279.0
1,2020-08-03,0.000,NaN,OD119206382709689000,11920638270968900,0,40,-40,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FADB1A2100002868,2020-07-21T05:48:32+05:30,331.0
2,2020-08-05,233.488,NaN,OD119211138251171000,11921113825117100,404,0,0,0,-141.60,...,0.20,7.000*6.000*7.500,0.063,Dead,0.0-0.5,National,NaN,FAAC122100000539,2020-07-22T19:20:24+05:30,404.0
3,2020-08-08,187.937,NaN,OD119246733334912000,11924673333491200,322,0,0,0,-111.30,...,0.20,7.000*5.500*7.500,0.058,Dead,0.0-0.5,Local,NaN,FADB1A2100003208,2020-07-26T04:11:15+05:30,322.0
4,2020-08-03,168.543,NaN,OD119199078923961000,11919907892396100,299,40,0,0,-142.02,...,0.18,8.000*6.000*8.000,0.077,Dead,0.0-0.5,National,NaN,FADB1A2100002807,2020-07-20T06:00:45+05:30,299.0

In [175]:
Customer_id = list()

for i in range(0,597):
    Customer_id.append(random.randrange(9236000, 9236200)) #200 customers
                       
# print(Customer_id)
print(len(Customer_id))

597

In [176]:
#Do not run again

df['Customer ID'] = Customer_id
df = df[['Customer ID','Seller SKU','Order Date','Dispatch Date','Return Type','Amount']]
df = df.rename(columns={'Seller SKU': 'Product ID'})
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Dispatch Date'] = pd.to_datetime(df['Dispatch Date'])
df['Difference'] = df['Dispatch Date'].sub(df['Order Date'], axis=0)
df['Difference'] = df['Difference'] / np.timedelta64(1, 'D')
# df.head()

In [186]:
##Do not run this agin########
df = df[['Customer ID','Product ID','Return Type','Amount','Difference']]
df['Return Type'] = df['Return Type'].replace({"Customer Return": 1})
df['Return Type'] = df['Return Type'].replace({"Courier Return": 1})
# df.head(10)

In [179]:
# plt.plot(df['Product ID'], ['Amount'])

In [180]:
test = list()
test = df['Product ID'] #rating
# print(list(test))
test = list(test)
x = np.array(list(test))
# print(np.unique(x))
# print(np.unique(x).shape)

#########Experiment#################
#You have three arrays : rate1,rate2,rating 
# rating = list()
# for i in (0,len(rate1)):
#     for j in range(0,len(test)):
#         if test[j]== rate1[i]:
#             rating[j]=rate2[i]
# print(rating)
####################################

rate1 = np.unique(x)
rate2 = list()

for i in rate1:
    rate2.append(round(random.uniform(1.5, 4.8),1))
# print(rate2)
# print(rate1)

In [181]:
############ another logic############
#You have three arrays : rate1,rate2,rating 
# rating = list()
# for i in (0,len(rate1)):
#     for j in range(0,len(test)):
#         if test[j]== rate1[i]:
#             rating[j]=rate2[i]
# print(rating)
###############end###################

#pairing rating and product id(rate1 and rate2)
dic = dict()
for i in range(len(rate1)):
    dic[i] = {rate1[i]:rate2[i]}
# print(dic)

# choice = dic
# for i in range(len(test)):
#     test[i] = random.choice(dic)
# print(test)

# equating it according to original productid i.e 596 entries
dic2 = dict()
for i in range(len(test)):
    dic2[i] = random.choice(dic)
# print(dic2)

#seprating rates
res = [] 

for k, v in dic2.items():
    for k1, v1 in v.items():
        res.append(k1)

#seprating new product id        
res2 = [] 

for k, v in dic2.items():
    for k1, v1 in v.items():
        res2.append(v1)

# print(res2)
# for key in dict2.keys(): 
#     res.append(dict2[key])
# res = list(dict2.values()) 
# print(res)

In [188]:
df['Product ID'] = res
df['Rating'] = res2
# df['Return Type'] = df['Return Type'].replace({"1": 1})
df.replace(to_replace = np.nan, value =0, inplace=True)
df.head(10)

   Customer ID  Product ID  Return Type  Amount  Difference  Rating
0      9236104      X-6027            1   279.0         2.0     2.0
1      9236148      X-2269            0   331.0         2.0     4.0
2      9236118    XDD-7032            0   404.0         4.0     1.9
3      9236156      X-6055            0   322.0         4.0     3.5
4      9236118    XDD-1028            0   299.0         3.0     2.3
5      9236108    XDD-7092            0   389.0         2.0     3.5
6      9236134  HMTS-B9036            0  1276.0         3.0     1.9
7      9236082        C031            1     0.0         0.0     2.7
8      9236119   X1165KL01            0   302.0         6.0     2.9
9      9236189      X-2265            0   589.0         2.0     2.8

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 597 entries, 0 to 596
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  597 non-null    int64
 1   Product ID   597 non-null    object
 2   Return Type  597 non-null    int64
 3   Amount       576 non-null    float64
 4   Difference   576 non-null    float64
 5   Rating       597 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 28.1+ KB

In [189]:
df.to_excel('output.xlsx')

no. of returns per customer

if customer has 0 returns:
    total score = 100
elif:0
    model= theta1*x1(no_of_rders) + theta2*x2(amount{normalization}) + theta3*x3(difference) + theta4*x4(rating)

no_of_orders, amount, difference, rating, returntype(0,1)
htheta(x) = theta + theta*x1 + theta2*x2...
independent parameters

0 - return

total score = 100 - hyperparameter*(y)